html {
    box-sizing: border-box;
}
*, ::after, ::before {
    box-sizing: inherit;
}

.container {
    max-width: 1000px;
    margin: auto;
    color: #222;
    background-color: #fff;
}

.lightBackground {
    background-color: #eee;
}

.header {
    color: crimson;
}
.subHeader {
    color: teal;
}