html {
    box-sizing: border-box;
}
*, ::after, ::before {
    box-sizing: inherit;
}

.container {
    max-width: 1000px;
    margin:  0 auto;
    padding: 0 15px;
    color: #222;
    background-color: #fff;
}

.lightBackground {
    background-color: #eee;
}

.header {
    color: #d33d3d;
}
.subHeader {
    color: #332424;
}