html {
    box-sizing: border-box;
}
*, ::after, ::before {
    box-sizing: inherit;
}

.container {
    max-width: 1000px;
    margin:  0 auto;
    padding: 0 15px;
    color: #222;
    background-color: #fff;
}

.lightBackground {
    background-color: #eee;
}
.head {
   text-align: center;

}
.header {
    color: #d33d3d;
}
.subHeader {
    color: #332424;
}
img {
    height: 340px;
    width: 270px;
    border-radius: 50%;
    box-shadow: 2px 2px 15px 2px black;
}